@using System.Linq
@using System.Web
@using Microsoft.AspNetCore.Mvc
@using starskycore.Models
@model starskycore.ViewModels.ArchiveViewModel
@{
    ViewData["Title"] = Model.SearchQuery + " Index view ";
}
<div class="archive">
    <div id="popup">
        <div class="content">
        </div>
    </div>
    
    <div class="sidebar readonly-@{@Model.IsReadOnly.ToString().ToLower()}">
        <div class="close"></div>
        <div class="content">
            <h4 class="nextprev">
                &nbsp;
                @if (@Model.RelativeObjects.PrevFilePath != null)
                {
                    var urlPath = @Url.Action("Index", "Home", new {f = @Model.RelativeObjects.PrevFilePath});
                    urlPath = urlPath.Replace("%2F", "/");
                    <a class="prev" href="@urlPath">Vorige</a>
                }
                @if (@Model.RelativeObjects.NextFilePath != null ) 
                {
                    var urlPath = @Url.Action("Index", "Home", new {f = @Model.RelativeObjects.NextFilePath});
                    urlPath = urlPath.Replace("%2F", "/");
                    <a class="next" href="@urlPath">Volgende</a>
                }
            </h4>
            
            <div class="selections">
                <h1>Selecties</h1>
                <h2>Aantal: <span class="js-collectionscount">@Model.FileIndexItems.Count(p => p.IsDirectory == false)</span> / @Model?.CollectionsCount files</h2>
                <div class="js-selectedimages"></div>
            </div>
            <div class="js-controls">
                <h1>Tekst <span class="js-title-addorreplace">toevoegen</span></h1>
	            <div class="js-toggle-addorreplace"><a class="colorbutton"><span class="checkbox"></span> Overschrijf tekst </a></div>
                <div class="form-inline form-wrapper" id="js-keywords-update">
                    <p>Tags: <em>(komma gescheiden)</em></p>
                    <div class="form-control space js-keywords contenteditable js-allow-auto-copy" contenteditable="true"
                         name="keywords" data-previouscontent=""></div>
                    <a class="btn btn-default" type="submit">Toevoegen</a>
                </div>

                <div class="form-inline form-wrapper" id="js-captionabstract-update">
                    <p>Info:</p>
                    <div class="form-control space js-captionabstract contenteditable js-allow-auto-copy" contenteditable="true"
                         name="keywords" data-previouscontent=""></div>
                    <a class="btn btn-default" type="submit">Toevoegen</a>
                </div>
                
                <div class="form-inline form-wrapper" id="js-objectname-update">
                    <p>Titel:</p>
                    <div class="form-control space js-objectname contenteditable js-allow-auto-copy" contenteditable="true" 
                         name="keywords" data-previouscontent=""></div>
                    <a class="btn btn-default" type="submit">Toevoegen</a>
                </div>
                
                <h1>Kleur overschrijven</h1>
	            <div class="add-colorclass">
		            @{
			            foreach (var item in @FileIndexItem.GetAllColorUserInterface())
			            {
				            var enumValue = (int) item;
				            <a class="colorclass-@enumValue" data-colorclass="@enumValue">
					            <span class='checkbox'></span>@item.ToString()
				            </a>
			            }
		            }
	            </div>
	            <div class="js-collections-box">
		            <h1>Weergave</h1>
		            <span></span>
		            <span><a class="colorbutton on no-checkbox js-forcesync">ForceSync</a></span>
	            </div>

                <div class="js-export-box">
                    <h1>Export</h1>
	                <span>
		                <a class="colorbutton on no-checkbox js-exportzip">Orgineel</a>
		                <a class="colorbutton on no-checkbox js-exportzip-thumbnail">Thumbnail</a>
	                </span>
	            </div>
            </div>

        </div>
    </div>
    
    <h4 class="nextprev">
        @if (@Model.RelativeObjects.PrevFilePath != null)
        {
            var urlPath = @Url.Action("Index", "Home", new {f = @Model.RelativeObjects.PrevFilePath});
            urlPath = urlPath.Replace("%2F", "/");
            <a class="prev" href="@urlPath">Vorige (@Model.RelativeObjects.PrevFilePath.Split("/").LastOrDefault())</a>
        }
        @if (@Model.RelativeObjects.NextFilePath != null ) 
        {
            var urlPath = @Url.Action("Index", "Home", new {f = @Model.RelativeObjects.NextFilePath});
            urlPath = urlPath.Replace("%2F", "/");
            <a class="next" href="@urlPath">Volgende (@Model.RelativeObjects.NextFilePath.Split("/").LastOrDefault())</a>
        }
        &nbsp;
    </h4>
    
    <h1 class="breadcrumb">
        @foreach (var item in Model.Breadcrumb)
        {
            var name = @item.Split("/")[item.Split("/").Length - 1];
            if (name == "") {name = "Home";}
    
            var urlPath = @Url.Action("Index", "Home", new {f = @item});
            urlPath = urlPath.Replace("%2F", "/");
            <a href="@urlPath">@name</a>

            if (item != Model.Breadcrumb[Model.Breadcrumb.Count - 1])
            {
                <span> &raquo;</span>
            }
        }
        
        @if (!string.IsNullOrWhiteSpace(Model.SearchQuery))
        {
            <span> &raquo;</span>
            //  this does encode %2F after redirect
            <span> <a class="removecache" asp-controller="Api" asp-action="RemoveCache" 
                      asp-route-f="@Model.SubPath">@Model.SearchQuery</a></span>
        }
    
    </h1>
    
    <div id="portfolio-filter">
    </div>
    
    @if(!Model.FileIndexItems.Any())
    {
        <div class="wrapper">
            <h2> Er zijn geen afbeeldingen in de map <em>@Model.SearchQuery</em> </h2>
        </div>
    }
                                   
    <div class="js-noimages wrapper hide">
       <h2> Er zijn geen afbeeldingen met de huidige colorclass. Herstel selectie om afbeeldingen in de map <em>@Model.SearchQuery</em> te zien </h2>
    </div>
       
    <div class="wrapper" id="portfolio-data">
        @foreach (var item in Model.FileIndexItems)
        {
            var enumValue = (int) item.ColorClass;
            var directoryLabel = "directory-" + item.IsDirectory.ToString().ToLower();
            var urlPath = @Url.Action("Index", "Home", new {f = @item.FilePath});
            urlPath = urlPath.Replace("%2F", "/");
            
            <a class="halfitem @item.ColorClass colorclass-@enumValue @directoryLabel" data-filename="@item.FileName" data-tag="colorclass-@enumValue"
               data-tagnl="@FileIndexItem.GetAllColorUserInterface().FirstOrDefault(p => (int) p == enumValue)"
               data-imageformat="@item.ImageFormat"
               href="@urlPath">
                <div class="caption">
                    <h2><div class="checkbox"></div> @item.FileName</h2>
                    <p>@item.Tags&nbsp;</p>
                </div>
                <div class="filter"></div>
    
                @if (!string.IsNullOrWhiteSpace(@item.FileHash))
                {
                    <img class="lazyload" src="#" data-src="@Url.Action("Thumbnail", "Api", new {f = item.FileHash + ".jpg", issingleitem = false })" alt=""/>
                }
                else
                {
                    <img src="#" alt=""/>
                }
            </a>
        }
    </div>
</div>

<div class="preloader">
	<img src="images/preloader.svg" alt="preloader">
</div>
@{
    // Javascript don't accept decoded slashes
	var updateApiBase = Url.Action("Update", "Api");
	updateApiBase = HttpUtility.UrlDecode(updateApiBase);
	var infoApiBase = @Url.Action("Info", "Api");
	infoApiBase = HttpUtility.UrlDecode(infoApiBase);
	var syncApiBase = @Url.Action("Index", "Sync");
	syncApiBase = HttpUtility.UrlDecode(syncApiBase);
	var exportZipApiBase = @Url.Action("CreateZip", "Export");
	exportZipApiBase = HttpUtility.UrlDecode(exportZipApiBase);
}      
                     
 <div id="js-settings" data-updateApiBase="@updateApiBase"
	data-infoApiBase="@infoApiBase" data-syncApiBase="@syncApiBase"
	data-subPath="@Model.SubPath" data-exportZipApiBase="@exportZipApiBase">
</div>
                                   
<script type="text/javascript" src="js/loadjson.js"></script>
<script type="text/javascript" src="js/sidebar-stringhelper.js"></script>
<script type="text/javascript" src="js/archivesidebar.js"></script>
<script type="text/javascript" src="js/toggleIsSingleitem.js"></script>
<script type="text/javascript" src="js/sidebar.js"></script>
<script type="text/javascript" src="js/portfolio-filter.js"></script>

@*For IE/IE-Edge "object-fit: cover" *@
<script type="text/javascript" src="js/vendor/ofi.min.js" defer></script>
