@using starsky.ViewModels
@model IEnumerable<ObjectItem>
@{
    ViewData["Title"] = "Home Page";
}


<table>
    @foreach (var item in Model)
    {
    <tr>
        @if(@item.IsFolder) {
            <th>-</th>
            <th> <a asp-controller="Home" asp-action="Index" asp-route-f="@item.FilePath">@item.FilePath</a> </th>
        }
        else {
            <th>@item.FileName &nbsp;&nbsp;  -  &nbsp;&nbsp; </th>
            <th> @item.FilePath &nbsp;&nbsp;  -  &nbsp;&nbsp;  </th>
            <th> @item.Tags</th>

        }


    </tr>
    }
    </table>
