@using starsky.ViewModels
@model IndexViewModel

@{
    ViewData["Title"] = @Model.SingleItem.FileName;
}
@*<h2>@ViewData["Title"]</h2>*@

<h2>
    @foreach (var item in Model.Breadcrumb)
    {
        var name = @item.Split("/")[item.Split("/").Length - 1];
        if (name == "")
        {
            name = "Home";
        }
        <a asp-controller="Home" asp-action="Index" asp-route-f="@item">@name</a>
        <span> &raquo;</span>
    }
    @Model.SingleItem.FileName
</h2>


<h3>@Model.SingleItem.Tags</h3>
<h4>
    @if (@Model.SingleItem.RelativeObjects.PrevFilePath != null)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-f="@Model.SingleItem.RelativeObjects.PrevFilePath">Prev</a>
    }
    @if (@Model.SingleItem.RelativeObjects.NextFilePath != null)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-f="@Model.SingleItem.RelativeObjects.NextFilePath">Next</a>
    }
</h4>


<img src="@Url.Action("Thumbnail", "Home", new { f = @Model.SingleItem.FileHash })" />

