@using System.Collections.Generic
@using System.Security.Cryptography
@using Microsoft.AspNetCore.Mvc
@using starsky.ViewModels
@using starsky.Models
@model ObjectItem

@{
    ViewData["Title"] = @Model.FileIndexItem.FileName;
}
@*<h2>@ViewData["Title"]</h2>*@

<h3>
    @foreach (var item in Model.Breadcrumb)
    {
        var name = @item.Split("/")[item.Split("/").Length - 1];
        if (name == "")
        {
            name = "Home";
        }
        <a asp-controller="Home" asp-action="Index" asp-route-f="@item">@name</a>
        <span> &raquo;</span>
    }
    @Model.FileIndexItem.FileName
</h3>


<div class="wrapper">
    <form asp-controller="Api" asp-action="UpdateTag" method="post" class="form-inline form-wrapper" id="js-tag-update">
        <input name="f" value="@Model.FileIndexItem.FilePath" hidden />
        <input class="form-control t" name="t" value="@Model.FileIndexItem.Tags" autocomplete="off" disabled="true" />
        <button class="btn btn-default" type="submit" style="display: none;">Update</button>
    </form>
</div>

<script type="text/javascript">
    function loadJSON(path, success, error, type)
    {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function()
        {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200 || xhr.status === 205) {
                    if (success) {
                        console.log(xhr.responseText);
                        success(JSON.parse(xhr.responseText));
                    };
                } else {
                    if (error)
                        error(xhr);
                }
            }
        };
        xhr.open(type, path, true);
        xhr.send();
    }

    function updateElement(data) {
        document.querySelector("#js-tag-update button").style.display = "inline-block";
        document.querySelector('#js-tag-update .t').value = data.tags;
        document.querySelector('#js-tag-update .t').disabled = false;

        if (document.querySelectorAll(".addDeleteTag").length >= 1 ) {
            document.querySelector(".addDeleteTag").style.display = "inline-block";
            if (data.tags.indexOf("!delete!") >= 0) {
                document.querySelector(".addDeleteTag a").innerHTML = "Zet terug uit prullenmand";
                document.querySelector("#js-tag-update button").style.display = "none";
                document.querySelector('#js-tag-update .t').disabled = true;
                document.querySelector(".addDeleteTag a").classList.remove("btn-danger");
                document.querySelector(".addDeleteTag a").classList.add("btn-warning");

            } else {
                document.querySelector(".addDeleteTag a").innerHTML = "Verplaats naar prullenmand";
                document.querySelector(".addDeleteTag a").classList.remove("btn-warning");
                document.querySelector(".addDeleteTag a").classList.add("btn-danger");
            }
        }

    }
    var url = "@Url.Action("Info", "Api", new { f = @Model.FileIndexItem.FilePath, t = "1" })";
    url = url.replace("&amp;", "&");
    loadJSON(url,
        function(data) { updateElement(data); },
        function (xhr) { console.error(xhr); },
        "GET"
    );

</script>
<h4>
    &nbsp;
    @if (@Model.RelativeObjects.PrevFilePath != null)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-f="@Model.RelativeObjects.PrevFilePath">Prev</a>
    }
    @if (@Model.RelativeObjects.NextFilePath != null)
    {
        <a class="next" asp-controller="Home" asp-action="Index" asp-route-f="@Model.RelativeObjects.NextFilePath">Next</a>
    }

</h4>

<img class="main-image" src="@Url.Action("Thumbnail", "Api", new { f = @Model.FileIndexItem.FileHash, issingleitem = true })" />

<div class="add-colorclass">

    @{
        var typesList = new List<string> {"winner", "winneralt", "superior", "superioralt", "typical", "typicalalt", "extras", "trash", "none"};
        foreach (var item in typesList)
        {
            if (@Model.FileIndexItem.ColorClass.ToString().ToLower() == item)
            {
                <button type="button" class="btn @item on" onclick="updateColorClass(this)">@item</button>
            }
            else
            {
                <button type="button" class="btn @item" data-name="@item" onclick="updateColorClass(this)">@item</button>
            }
        }
    }
    
</div>

<h4>
    &nbsp;
    @if (@Model.RelativeObjects.PrevFilePath != null)
    {
        <a asp-controller="Home" asp-action="Index" asp-route-f="@Model.RelativeObjects.PrevFilePath">Prev</a>
    }
    @if (@Model.RelativeObjects.NextFilePath != null)
    {
        <a class="next" asp-controller="Home" asp-action="Index" asp-route-f="@Model.RelativeObjects.NextFilePath">Next</a>
    }

</h4>



<div class="addDeleteTag">
    <h4>Danger zone:</h4>
    <a onClick="addDeleteTag()" class="btn-sm btn btn-danger"></a>
    <a asp-controller="Search" asp-action="Trash" class="btn-sm btn-info">Bekijk prullenmand</a>

</div>


<script type="text/javascript">
    function addDeleteTag() {
        document.querySelector(".addDeleteTag").style.display = "none";

        var queryItem = document.querySelector('#js-tag-update .t').value;

        if (queryItem.length === 0) {
            queryItem = "!delete!";
        } else {
            if (queryItem.indexOf("!delete!") >= 0) {
                queryItem = queryItem.replace("!delete!","");
            } else {
                queryItem += ", !delete!";
            }
        }

        var url = "@Url.Action("UpdateTag", "Api", new { f = @Model.FileIndexItem.FilePath, redirect = false })" + "&t=" + queryItem;;
        if (queryItem.length === 0) {
            url += "?";
        }
        url = url.replace("&amp;", "&");
        loadJSON(url,
            function (data) { updateElement(data) },
            function (xhr) { console.error(xhr); },
            "POST"
        );
    }

</script>


<script type="text/javascript">
    function updateColorClass(those) {
        var url = "@Url.Action("UpdateColorClass", "Api", new { f = @Model.FileIndexItem.FilePath})" + "&name=" + those.dataset.name;;

        url = url.replace("&amp;", "&");
        loadJSON(url,
            function(data) {
                
                console.log(data);
            },
            function (xhr) { console.error(xhr); },
            "POST"
        );    
    }

</script>