
<!DOCTYPE html>
<html lang="nl" xml:lang="nl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Starsky</title>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="stylesheet" href="~/css/site.css" />

	@* Currently for privacy reasons disabled *@
	@* @inject starsky.Helpers.ApplicationInsightsJsHelper AiJsHelper *@
	@* @Html.Raw(AiJsHelper.Script) *@

</head>
<body>

    <!--[if lte IE 10]>
        <p class="browserupgrade">
            U gebruikt een verouderde internetbrowser. Om uw ervaring te verbeteren adviseer ik u om naar <a href="http://browsehappy.com/">BrowseHappy</a> te gaan
            <br />
            <br />
            You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
    <![endif]-->

<div class="head">
	<div id="menu">
		<ul class="moveaway">
			<li class="hide900">
				<form asp-controller="Search" asp-action="Index" method="post" class="form-inline form-nav">
					<input name="t" class="form-control" value="@ViewData["SearchQuery"]" autocomplete="off"/>
					<button class="btn btn-default" type="submit">Zoek</button>
				</form>
			</li>
			<li>
				<a href="@Url.Action("Index", "Home")">Home</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "Search", new {t = "-Datetime>7 -ImageFormat-\"tiff\""})">Foto's van deze week</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "Account")">Account</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "Import")">Importeren</a>
			</li>

			@* <li><a href="@Url.Action("Logout", "Account")">Logout</a></li> *@

		</ul>
	</div>
	<a href="#hamburger" id="hamburger" class="hamburger">Menu</a>

	<div class="form-logo show900">
		<form asp-controller="Search" asp-action="Index" method="post" class="form-inline form-nav">
			<input name="t" class="form-control" value="@ViewData["SearchQuery"]" autocomplete="off"/>
			<button class="btn btn-default" type="submit">Zoek</button>
		</form>
	</div>

</div>

@*<nav class="navbar navbar-inverse">*@
@*        <div class="container">*@
@*            <div class="navbar-collapse collapse">*@
@*                <ul class="nav navbar-nav">*@
@*                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Starsky</a></li>*@
@*                    <li>*@
@*                        <form asp-controller="Search" asp-action="Index" method="post" class="form-inline form-nav">*@
@*                            <input name="t" class="form-control" value="@ViewData["SearchQuery"]" autocomplete="off"/>*@
@*                            <button class="btn btn-default" type="submit">Zoek</button>*@
@*                        </form>*@
@*                    </li>*@
@*                </ul>*@
@*            </div>*@
@*        </div>*@
@*    </nav>*@
    <div class="container body-content">
        @RenderBody()
@*        <footer>*@
@*            <p>&copy; 2018 - Starsky</p>*@
@*        </footer>*@
    </div>


<script src="~/js/site.js" asp-append-version="true"></script>

<script src="~/js/vendor/lazyload.js"></script>
<script src="~/js/lazyload.activate.js"></script>


@RenderSection("Scripts", required: false)
</body>
</html>
