@using System.Web
@using Microsoft.AspNetCore.Mvc
@model starskycore.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Prullenmand - ";
    ViewData["SearchQuery"] = Model.SearchQuery;
}

<div class="archive trash">
    <div id="popup">
        <div class="content">
        </div>
    </div>
    
    <div class="sidebar">

        <div class="close"></div>
        <div class="content">
            <h4 class="nextprev">
                &nbsp;
                @if (Model.PageNumber >= 1)
                {
                    var prevpage = @Model.PageNumber - 1;
                    <a class="prev" asp-controller="v1" asp-action="Search" asp-route-t="@Model.SearchQuery" asp-route-p="@prevpage">Vorig resultaat</a>
                }

                @if (Model.PageNumber < Model.LastPageNumber)
                {
                    var nextpage = @Model.PageNumber + 1;
                    <a class="next" asp-controller="v1" asp-action="Search" asp-route-t="@Model.SearchQuery" asp-route-p="@nextpage">Volgend resultaat</a>
                }
            </h4>
            <div class="selections">
                <h1>Selecties</h1>
                <h2>Aantal: <span class="js-collectionscount">@Model.FileIndexItems.Count(p => p.IsDirectory == false)</span> files</h2>
                <div class="js-selectedimages"></div>
            </div>
            <div class="js-controls">
                <div class="addDeleteTag prompt">
	                <h4>Danger zone:</h4>
	                <a class="btn-sm btn btn-danger delete">Verwijder van schijf</a>
	                <a class="btn-sm btn btn-default undodelete">Undo uit prullenmand</a>
                </div>
            </div>
        </div>
    </div>

    <h4 class="nextprev">
        &nbsp;
        @if (Model.PageNumber >= 1)
        {
            var prevpage = @Model.PageNumber - 1;
            <a asp-controller="v1" asp-action="Trash" asp-route-t="@Model.SearchQuery" asp-route-p="@prevpage">Vorig resultaat</a>
        }

        @if (Model.PageNumber < Model.LastPageNumber)
        {
            var nextpage = @Model.PageNumber + 1;
            <a class="next" asp-controller="v1" asp-action="Trash" asp-route-t="@Model.SearchQuery" asp-route-p="@nextpage">Volgend resultaat</a>
        }
    </h4>

    <h1 class="breadcrumb">
        <a asp-controller="v1" asp-action="Index">Home</a>
        <span> &raquo;</span>
        <a asp-controller="v1" asp-action="Trash">Prullenmand</a>
    </h1>



    <div id="portfolio-data" class="wrapper">

        @foreach (var item in Model.FileIndexItems)
        {
            var enumValue = (int) item.ColorClass;
            var directoryLabel = "directory-" + item.IsDirectory.ToString().ToLower();
            <div class="halfitem @item.ColorClass colorclass-@enumValue @directoryLabel" data-filepath="@item.FilePath" data-filename="@item.FileName" data-tag="colorclass-@enumValue"
                 data-tagnl="@FileIndexItem.GetAllColorUserInterface().FirstOrDefault(p => (int) p == enumValue)">
                <div class="caption">
                    <h2>
                        <div class="checkbox"></div> <a asp-controller="v1" asp-action="Index" asp-route-f="@item.FilePath">@item.FileName</a></h2>
@*                    <p><a onclick="Remove('@item.FilePath')"class="btn-sm btn btn-danger">Verwijder van schijf</a></p>*@
                </div>
                <div class="filter"></div>
                <img class="lazyload" src="#" data-src="@Url.Action("Thumbnail", "Api", new {f = item.FileHash, issingleitem = false })" alt=""/>
            </div>
        }
    </div>

	@*    style="margin-top: 30px; margin-bottom: 30px;"*@
	<h4 class="nextprev"> 
        &nbsp;
        @if (Model.PageNumber >= 1)
        {
            var prevpage = @Model.PageNumber - 1;
            <a asp-controller="v1" asp-action="Trash" asp-route-t="@Model.SearchQuery" asp-route-p="@prevpage">Vorig resultaat</a>
        }

        @if (Model.PageNumber < Model.LastPageNumber)
        {
            var nextpage = @Model.PageNumber + 1;
            <a class="next" asp-controller="v1" asp-action="Trash" asp-route-t="@Model.SearchQuery" asp-route-p="@nextpage">Volgend resultaat</a>
        }
    </h4>
</div>




@{
	// Javascript don't accept decoded slashes
	var deleteApiBase = Url.Action("Delete", "Api");
	deleteApiBase = HttpUtility.UrlDecode(deleteApiBase);
	var replaceApiBase = Url.Action("Replace", "Api");
	replaceApiBase = HttpUtility.UrlDecode(replaceApiBase);
}

<div id="js-settings" data-deleteApiBase="@deleteApiBase" data-replaceApiBase="@replaceApiBase">
</div>

<div class="preloader">
	<img src="~/images/preloader.svg" alt="preloader">
</div>

<script type="text/javascript" src="~/js/loadjson.js"></script>
<script src="~/js/sidebar-stringhelper.js" type="text/javascript"></script>
<script src="~/js/sidebar.js" type="text/javascript"></script>



@**@
@*<script type="text/javascript">*@
@**@
@*	function Remove(filePath) {*@
@*		var url = "@Url.Action("Delete", "Api")" + "?f=" + filePath;*@
@*		url = url.replace("&amp;", "&");*@
@*		loadJSON(url,*@
@*			function(data) {*@
@*				location.reload(); *@
@*			},*@
@*			function(xhr) {*@
@*				if (xhr.status === 404) {*@
@*					alert(xhr.response);*@
@*				}*@
@*				console.error(xhr);*@
@*			},*@
@*			"DELETE"*@
@*		);*@
@*	}*@
@**@
@*</script>*@

@*For IE/IE-Edge "object-fit: cover" *@
<script type="text/javascript" src="~/js/vendor/ofi.min.js" defer></script>
<script type="text/javascript" src="~/js/archivesidebar.js" defer></script>
<script type="text/javascript" src="~/js/toggleIsSingleitem.js" defer></script>
