@using Microsoft.AspNetCore.Mvc
@using starsky.ViewModels
@model SearchViewModel
@{
    ViewData["Title"] = Model.SearchQuery + " - Search";
    ViewData["SearchQuery"] = Model.SearchQuery;
}

<h2>
    @foreach (var item in Model.Breadcrumb)
    {
        var name = @item.Split("/")[item.Split("/").Length - 1];
        if (name == "")
        {
            name = "Home";
        }
        if (name != "Home")
        {
            <a asp-controller="Search" asp-action="Index" asp-route-t="@item">@name</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index">@name</a>
        }
        if (item != Model.Breadcrumb[Model.Breadcrumb.Count - 1])
        {
            <span> &raquo;</span>
        }
    }
</h2>

<div class="wrapper">
    <form asp-controller="Search" asp-action="Index" method="post" class="form-inline form-wrapper">
          <input name="t" value="@Model.SearchQuery" class="form-control" autocomplete="off"/>
        <button class="btn btn-default" type="submit">Zoek</button>
    </form>
</div>

<h4>
    &nbsp;
    @if (Model.PageNumber >= 1)
    {
        var prevpage = @Model.PageNumber - 1;
        <a asp-controller="Search" asp-action="Index" asp-route-t="@Model.SearchQuery" asp-route-p="@prevpage">Prev</a>
    }

    @if (Model.PageNumber < Model.LastPageNumber)
    {
        var nextpage = @Model.PageNumber + 1;
        <a class="next" asp-controller="Search" asp-action="Index" asp-route-t="@Model.SearchQuery" asp-route-p="@nextpage">Next</a>
    }
</h4>

<div class="wrapper">
    <p>@Model.SearchCount resultaten in @Model.ElapsedSeconds seconden</p>
</div>

<div class="wrapper">

    @foreach (var item in Model.FileIndexItems)
    {
        <a class="halfitem" asp-controller="Home" asp-action="Index" asp-route-f="@item.FilePath">
            <div class="caption">
                <h3>@item.FileName</h3>
                <p>@item.Tags</p>
            </div>
            <img class="lazyload" src="#" data-src="@Url.Action("Thumbnail", "Api", new {f = item.FileHash})" alt="@item.Tags" />
        </a>
    }
</div>

<h4>
    &nbsp;
    @if (Model.PageNumber >= 1)
    {
        var prevpage = @Model.PageNumber - 1;
        <a asp-controller="Search" asp-action="Index" asp-route-t="@Model.SearchQuery" asp-route-p="@prevpage">Prev</a>
    }

    @if (Model.PageNumber < Model.LastPageNumber)
    {
        var nextpage = @Model.PageNumber + 1;
        <a class="next" asp-controller="Search" asp-action="Index" asp-route-t="@Model.SearchQuery" asp-route-p="@nextpage">Next</a>
    }
</h4>
